<html>
<body>
    <h1>{{ .title }}</h1>
    <form action="/registered" method="post">
        Trainer ID &emsp;:
        <input type="text" name="tid" required><br><br>
        Name &emsp;:
        <input type="text" name="name" required><br><br>
        Gender &emsp;:
        <input type="text" name="gender" required><br><br>
        Email &emsp;:
        <input type="text" name="email" required><br><br>
        Password &emsp; :
        <input type="password" name="password" required><br><br>
         
        <input type="submit" value="Register"><br>
    </form>
    <a href="/">Home</a>
    </body>
</html>